body{
    background-color: whitesmoke;
}

#navbar{
    background-color: rgb(164, 160, 160);
    height: 60px;
}

.head{
    margin-left: 500px;
}

.buttons{
    margin-left: 730px;
    margin-top: 220px;
    cursor:pointer;
    color: whitesmoke;
}

#backBtn:hover{
    font-size: large;
}

#forwardBtn:hover{
    font-size: large;
}

#image{
    width: 400px;
    height: 400px;
    margin-top: 10px;
    border-radius: 200px;
}

h1{
    margin-left: 60px;
    font-family: cursive;
    margin-top: 10px;
    font-weight: bold;
}

.job{
    margin-left: 150px;
    font-family: cursive;
    font-size: 20px;
    margin-top: 10px;
}

.nav{
    list-style-type: none;
    display: flex;
}

.footer{
    list-style-type: none;
     display: flex;
}

footer{
    position: fixed;
    background-color: rgb(164, 160, 160);
    padding: 20px;
    bottom: 0;
    width: 100%;
}

.list{
    list-style-type: none;
}

.about, .work{
    margin-top: 25px;
    margin-left: 100px;
    padding-left: 50px;
    color: whitesmoke;
    border: 1px transparent;
    font-size: 20px;

}

.about{
    padding-left: 900px;
}

.home{
    margin-top: 25px;
    color: whitesmoke;
    border: 1px transparent;
    font-size: 20px;
}

.home:hover{
    text-decoration: none;
    color: black;


}

.about:hover{
    text-decoration: none;
    color: black;


}

.work:hover{
    text-decoration: none;
    color: black;


}

.project{
    /* border: 1px solid black; */
    padding: 20px;
    border-radius: 10px;
    /* width: 700px; */
    /* height: 400px; */
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;

}

.project:hover{
    box-shadow: 3px 3px 3px 3px rgba(36, 36, 36, 0.462);
    text-decoration: none;
}

.link{
    padding: 40px;
    margin-left: 200px;
    color: whitesmoke;
}

.link:hover{
    color: whitesmoke;

}

#osu{
    width: 1000px;
}

#me{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 3px 3px 3px 3px grey;
}

#head{
    margin-top: 20px;
    text-align: center;

}

#generator, #planner, #quiz, #team-board, #dashboard, #ph1, #ph2, #ph3, #ph4, #ph5, #ph6{
    color: black;
}

.card{
    border: 1.5px solid rgb(64, 64, 64);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(73, 72, 72, 0.605);
}
.card-title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
}
.card-text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


