body{
    background-color: white;
}

#navbar{
    background-color: rgb(36, 129, 252);
    height: 100px;
    margin-bottom: 50px;
}

#contact{
    position: fixed;
    margin-left: 1050px;
}
.head{
    margin-left: 500px;
}

.link{
    display:flex;
    flex-direction: column;
    margin-right: 1100px;
}

.buttons{
    margin-left: 730px;
    margin-top: 220px;
    cursor:pointer;
    color: whitesmoke;
}

#backBtn:hover{
    font-size: large;
}

#forwardBtn:hover{
    font-size: large;
}

#image{
    width: 400px;
    height: 400px;
    margin-top: 10px;
    border-radius: 200px;
}

h1{
    margin-left: 60px;
    font-family: cursive;
    margin-top: 10px;
    font-weight: bold;
}

.job{
    margin-left: 150px;
    font-family: cursive;
    font-size: 20px;
    margin-top: 10px;
}

.nav{
    list-style-type: none;
    display: flex;
}

.list{
    list-style-type: none;
}

.about, .work{
    margin-left: 80px;
    padding-left: 50px;
    color: whitesmoke;
    border: 1px transparent;
    font-size: 20px;

}

#about1{
margin-left: 300px;
}


#dropdownMenuButton{
    margin-left: 150px;
    border: 2px solid white;
    background-color: rgb(36, 129, 252);
    font-size: 20px;
    padding:5px;
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.242);

}

#dropdownMenuButton:hover{
    color: black;
    border: 2px solid white;

}


.link{
    line-height: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; 
    margin-left: -60px;
    padding-left: 5px;
  
}

#dropdownList{
    list-style-type: none;
    display: flex;
    flex-direction: column;
  
   
}


.about{
    padding-left: 700px;
    
}

.home{
    color: whitesmoke;
    border: 1px transparent;
    font-size: 20px;
    margin-left: 10px;

}

.home:hover{
    text-decoration: none;
    color: black;


}

.about:hover{
    text-decoration: none;
    color: black;


}

.work:hover{
    text-decoration: none;
    color: black;


}

.project{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: black;

}

.project:hover{
    box-shadow: 3px 3px 3px 3px rgba(36, 36, 36, 0.462);
    text-decoration: none;
}

.link{
    padding: 40px;
    margin-left: 200px;
    color: whitesmoke;
}

.link:hover{
    color: whitesmoke;

}

#osu{
    width: 1000px;
}

#me{
    width: 1200px;
    margin: 0 auto;
    margin-top: 20px;
    box-shadow: 3px 3px 3px 3px grey;
}

#head{
    margin-top: 20px;
    text-align: center;

}

#generator, #planner, #quiz, #team-board, #dashboard, #ph1, #ph2, #ph3, #ph4, #ph5, #ph6{
    color: black;
}

.card{
    border: 2px solid rgb(64, 64, 64);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(73, 72, 72, 0.605);

}
.card-title{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    text-decoration: underline;
    text-align: center;
}
.card-text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

#aFooter{
    margin-top: 480px;;
}
